{% extends "template.html" %}
{% block content %}
<main>
      <div class="title">
        <h1>Projetos</h1>
      </div>
      <section class="cards__container">
        <div class="cards__bg" id="2alg7MQ6_sI">
          <header class="cards__header">
            <h2>Projetos 01 | Rafael Brunner</h2>
          </header>
          <div class="cards__image-container">
            <img
              src="https://img.youtube.com/vi/HN1UjzRSdBk/maxresdefault.jpg"
              alt="site itxmidia trabalho 01"
            />
          </div>
          <div class="cards__content">
            <p>CSS Grid Layout</p>
          </div>
          <button class="cards__button">Saiba Mais</button>
        </div>

        <div class="cards__bg" id="ghTrp1x_1As">
          <header class="cards__header">
            <h2>Projetos 01 | Rafael Brunner</h2>
          </header>
          <div class="cards__image-container">
            <img
              src="https://img.youtube.com/vi/HN1UjzRSdBk/maxresdefault.jpg"
              alt="site itxmidia trabalho 01"
            />
          </div>
          <div class="cards__content">
            <p>CSS Grid Layout</p>
          </div>
          <button class="cards__button">Saiba Mais</button>
        </div>
        <div class="cards__bg" id="AVNADGzXrrQ">
          <header class="cards__header">
            <h2>Projetos 01 | Rafael Brunner</h2>
          </header>
          <div class="cards__image-container">
            <img
              src="https://img.youtube.com/vi/HN1UjzRSdBk/maxresdefault.jpg"
              alt="site itxmidia trabalho 01"
            />
          </div>
          <div class="cards__content">
            <p>CSS Grid Layout</p>
          </div>
          <button class="cards__button">Saiba Mais</button>
        </div>
      </section>
      <div class="modal-overlay">
        <div class="modal">
          <a href="" class="close-modal">
            <i class="material-icons">close</i>
          </a>
          <div class="modal-content">
            <iframe
             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
      <footer></footer>
    </main>
   {% endblock %}