{% extends "template.njk" %}
{% block head %}
    <title>Sobre| Rafael Brunner</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" />
{% endblock %}
{% block content %}
    <main>
      <div class="container">
        <img
          src="{{ home.avatar_url }}"
          alt="foto de perfil"
        />
        <h1>{{ home.description }}</h1>
        <h2>{{ home.formation }}</h2>
        <h2>{{ home.role }}</h2>
      </div>
      <footer>
        <ul class="links">
          {% for links in home.links %}
          <li><a href="{{ links.url }}">{{ links.name }}</a></li>
          {% endfor %}
        </ul>
      </footer>
    </main>
    {% endblock %}
  </body>
</html>